h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:blue;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 3px ;
  }
  button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 6px;
  }
  img{
    width: 30px;
  }